@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Programacion en Sistemas Web</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ante elit, consectetur eget iaculis eu, semper eget purus.
            Maecenas nec sodales diam. Nam gravida tellus sapien, et vulputate nulla maximus et. Praesent eget diam malesuada, faucibus mi non,
            pretium ex. Phasellus hendrerit eleifend lorem, sed venenatis ante sagittis et. Phasellus magna sem, condimentum at nisi nec, consequat
            vestibulum ex. Integer sem ex, eleifend a cursus at, bibendum vitae nisl. Aenean malesuada volutpat felis, eget pellentesque odio.
            Pellentesque euismod dui sit amet pulvinar fringilla.
        </p>
        <p>Mauris eget tortor libero. Donec ornare eros ligula, nec tincidunt libero eleifend vitae. Integer sit amet augue leo. Sed tristique dapibus tincidunt. Nam fringilla enim enim, non mollis odio volutpat id. Aenean sed commodo elit, sit amet molestie justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rhoncus nibh a tellus scelerisque hendrerit.</p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
