@{
    ViewData["Title"] = "About";
}
<div class="row">

    <h2>Nuestra compañía</h2>
    <p>
        Ut sed tortor id risus dapibus hendrerit ut in lectus. Quisque ullamcorper tortor tincidunt, tempor elit et, rutrum odio.
        Praesent ornare quam id lacinia tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu
        ad litora torquent per conubia nostra, per inceptos himenaeos. Proin elementum velit nunc, ultrices rutrum turpis elementum non.
        Ut gravida tempor felis nec tincidunt. In eu nulla commodo orci egestas eleifend. Nam massa lacus, tincidunt a tincidunt non, euismod in nisl.
        Donec non egestas nisl.
    </p>

    <h2>Nuestros servicios</h2>
    <p>
        Donec vestibulum mi et metus interdum, sed imperdiet odio commodo. Fusce malesuada ligula justo, quis congue odio vehicula id. Donec laoreet,
        justo eu efficitur efficitur, tellus leo rhoncus turpis, vel pulvinar tortor erat vel eros. Fusce eros massa, molestie et mollis eu,
        viverra eu ligula. Praesent sed est quis dolor molestie facilisis eget non nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Quisque justo augue, rhoncus at porttitor dapibus, hendrerit id felis. Donec eu blandit lacus. In ac elementum elit, eu tempus massa. Aenean
        gravida, tortor eu aliquet vestibulum, massa mi gravida quam, quis imperdiet metus arcu a nibh. Proin rhoncus, quam nec luctus posuere, mauris
        massa feugiat ante, et suscipit justo est eget urna. Phasellus aliquet, arcu accumsan porttitor condimentum, dolor ipsum pretium libero, ut
        fermentum nibh nisi in risus. Sed aliquet porttitor risus, et finibus tellus. Aliquam vitae massa orci.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Nuestra Mision</h2>

        <p>
            Morbi vulputate ante ut nibh dictum, gravida lacinia nibh sagittis. Pellentesque malesuada tellus at purus facilisis, maximus tincidunt 
            orci tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla quis urna eros. In vel egestas 
            diam, nec vulputate diam. In quis ornare orci. Donec non fermentum sem. Suspendisse egestas leo nec mauris finibus, sit amet placerat urna 
            sollicitudin. Suspendisse magna arcu, elementum ut tellus et,
        </p>
    </div>
    <div class="col-md-6">
        <h2>Nuestra Vision</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis eros at sem viverra tristique. Etiam et turpis ac augue pretium 
            sollicitudin eget eu magna. Fusce in congue velit. Fusce odio nibh, sodales id suscipit sed, aliquam a elit. Mauris laoreet et eros non lobortis. 
            Proin vel tortor vel felis porttitor porta. Duis ultricies erat vel urna tincidunt, in dignissim eros varius.
        </p>
    </div>
</div>
