@model WebApplication1.Models.ContactFormViewModels.ContactFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ContactFormViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customerName" class="control-label"></label>
                <input asp-for="customerName" class="form-control" />
                <span asp-validation-for="customerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailCustomer" class="control-label"></label>
                <input asp-for="emailCustomer" class="form-control" />
                <span asp-validation-for="emailCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="feedback" class="control-label"></label>
                <input asp-for="feedback" class="form-control" />
                <span asp-validation-for="feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

