
@{
    ViewBag.Title = "About Us";
}

<h1>@ViewBag.Title</h1>


<div class="row">

    <h2>Nuestra compañía</h2>
    <p>
        Ut sed tortor id risus dapibus hendrerit ut in lectus. Quisque ullamcorper tortor tincidunt, tempor elit et, rutrum odio. 
        Praesent ornare quam id lacinia tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu 
        ad litora torquent per conubia nostra, per inceptos himenaeos. Proin elementum velit nunc, ultrices rutrum turpis elementum non. 
        Ut gravida tempor felis nec tincidunt. In eu nulla commodo orci egestas eleifend. Nam massa lacus, tincidunt a tincidunt non, euismod in nisl. 
        Donec non egestas nisl.
    </p>

    <h2>Nuestros servicios</h2>
    <p>
        Donec vestibulum mi et metus interdum, sed imperdiet odio commodo. Fusce malesuada ligula justo, quis congue odio vehicula id. Donec laoreet, 
        justo eu efficitur efficitur, tellus leo rhoncus turpis, vel pulvinar tortor erat vel eros. Fusce eros massa, molestie et mollis eu, 
        viverra eu ligula. Praesent sed est quis dolor molestie facilisis eget non nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Quisque justo augue, rhoncus at porttitor dapibus, hendrerit id felis. Donec eu blandit lacus. In ac elementum elit, eu tempus massa. Aenean 
        gravida, tortor eu aliquet vestibulum, massa mi gravida quam, quis imperdiet metus arcu a nibh. Proin rhoncus, quam nec luctus posuere, mauris 
        massa feugiat ante, et suscipit justo est eget urna. Phasellus aliquet, arcu accumsan porttitor condimentum, dolor ipsum pretium libero, ut 
        fermentum nibh nisi in risus. Sed aliquet porttitor risus, et finibus tellus. Aliquam vitae massa orci.
    </p>


</div>