
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application error</h2>

<p>Please contact <a href="~/ContactUs/Create">Support</a> for futher assistance and report the error</p>

<a href="/">Home</a>

