
@{
    ViewBag.Title = "InternalErrorServer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InternalErrorServer</h2>

<h3>Error Code</h3>
<p><span>500</span></p>

<h3>Error Message</h3>
<p><span>Internal server error, please reload the page or contact support</span></p>

<a href="/">Home</a>

