
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotFound</h2>

<h3>Error Code</h3>
<p><span>404</span></p>

<h3>Error Message</h3>
<p><span>The resource cannot be found, or was deleted</span></p>

<a href="/">Home</a>

