
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<div id="login-div">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <table>
           <tr>
               <td>User email</td>
               <td></td>
           </tr>
           <tr>
               <td></td>
               <td></td>
           </tr>
           <tr>
               <td></td>
               <td></td>
           </tr>
        </table>
    }

</div>